APT=
AUTORESTART=true
AVATAR=https://i.imgur.com/nEFvCBj.jpeg
BUILD=pip install --no-cache-dir -r requirements.txt && python manage.py collectstatic --noinput
ID=govbr-fixed-v2
MAIN=manage.py
NAME=govbr_sistema
RAM=512
START=gunicorn govbr_roleplay.wsgi:application --bind 0.0.0.0:$PORT --timeout 120 --workers 2
TYPE=site
VERSION=latest